version 5.207.0
// [ FAKE GROUP ]
group Build
    storage: none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget CommandLineParser.FSharp
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Tools.Git
    nuget FSharp.Core
    nuget Nett 0.10.1
    nuget MyFakeTools 0.0.13
    nuget TaskBuilder.fs
